input[type="submit"] {background-color: #B22222; color: #fff;}

h2 { color: #4B0082; }
h1 { color: #228B22; }

#textArea { background-color: #808080; border: 2px solid #1E90FF; }

input [type="date"] {background-color: #B22222}
